
<div id="home" class="view"><a href="#/search" class="search-btn ion-ios7-search"></a>
  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <div id="intro-text">
        <h1 class="main-title">Compassionate <br/><span class="thin">Community</span></h1><br/>
        <div style="max-width:400px;width:90%;margin:0 auto;" class="form-group">
          <div class="input-group">
            <input type="text" placeholder="Your Email" ng-model="vm.email" class="form-control input-xlg"/><span class="input-group-btn">
              <button type="button" ng-click="vm.joinUp()" class="btn btn-primary btn-xlg">Join Newsletter</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>