
<div id="search"><a ng-click="vm.back()" class="view-close ion-ios7-close-outline"></a>
  <div class="container">
    <div id="search-field" class="row padd-lg">
      <div class="col-sm-10">
        <input type="text" placeholder="Find your passion here..." class="noshadow"/>
      </div>
      <div class="col-sm-2">
        <button class="ion-ios7-search"></button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Jobs</h4>
      </div>
      <div class="col-sm-4">
        <h4>Events</h4>
      </div>
      <div class="col-sm-4">
        <h4>Campaigns</h4>
      </div>
    </div>
  </div>
</div>