.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  /* 200ms will be applied between each sucessive enter operation */ 
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity:0;
  line-height:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
  line-height:20px;
}


#view.ng-enter {
  -webkit-animation:2s zoomIn;
  animation:2s zoomIn;
}


#view.ng-leave {
    -webkit-animation:1s fadeOutDown;
 animation:1s fadeOutDown;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  // background-color:#fff;
}


.ng-hide-remove {
  -webkit-animation:1s zoomIn;
  animation:1s zoomIn;
}
 
.ng-hide-add {
      -webkit-animation:1s bounceOutDown;
 animation:1s bounceOutDown;
    display: block !important;
}