* {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

      -webkit-transition:0.8s ease-out all;
    transition:0.8s ease-out all;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.shadow {
      -moz-box-shadow:    0px 2px 0px 0px rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.2) !important;
  box-shadow:         0px 2px 0px 0px rgba(0,0,0,0.2) !important;
}

.noshadow {
      -moz-box-shadow:    0px 0px 0px 0px rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2) !important;
  box-shadow:         0px 0px 0px 0px rgba(0,0,0,0.2) !important;
}

body {
  background: $secondcolor;
  color: #383a3c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


