.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	background-image: url('/images/bg1.jpg');
}

.main-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
		color: #f9f1e9;
}

.main-title .thin {
	font-weight: 200;
}

#intro-text {
	position:absolute;
	width:100%;
top: 50%;
margin-top: -70px;
text-align: center
}

.btn-xlg {
	padding:20px 36px !important;
	text-transform:uppercase
}

@media only screen and (max-width : 768px) {
.main-title {
		font-size: 3em;
	}
}