#view {

}

.view {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	background-color:#fff;
	overflow-x: hidden;
	overflow-y: auto;  
}

.view-close {
	position:fixed;
	top:0;
	right:0;
	font-size:40px;
	margin:8px 15px;
	cursor: pointer;
	z-index: 100000
}
