$maincolor: #2CB2EC;
$secondcolor: #1474BA;
$thirdcolor: #7CBBD7;

@import "base";
@import "animation";
@import "forms";
@import "fonts";
@import "buttons";
@import "view";
@import "padding";
@import "nav";
@import "home";
@import "search";

@import "loading-bar";
@import "angular";
