.container
  .row  
    .col-sm-6
      .panel.panel-default
        .panel-heading Add a job
        .panel-body
          form( method="post" ng-submit="addJob()" )
            div( ng-include="'/partials/admin/job/form.html'" )
            button.btn.btn-lg.btn-success.btn-block Add New Job

    .col-sm-6
      .row
        .col-sm-12.job( ng-repeat="job in jobs" )
          .panel.panel-default
            .panel-body
              h3.pull-left {{job.heading }}
              a.btn.btn-danger.pull-right( ng-click="deleteJob($index, job.id)" ) Delete
              a.btn.btn-success.pull-right( href="/#/admin/job/{{ job.id }}" ) Edit         
