
<div class="form-group">
  <label class="control-label">Heading</label>
  <input type="text" ng-model="job.heading" ng-required="true" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Description</label>
  <textarea ng-model="job.description" ng-required="true" class="form-control"></textarea>
</div>
<div class="form-group">
  <label class="control-label">Salary Max</label>
  <input type="text" ng-model="job.salary_max" ng-pattern="/^[0-9-]+$/" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Salary Min</label>
  <input type="text" ng-model="job.salary_min" ng-pattern="/^[0-9-]+$/" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Start Date</label>
  <input type="text" ng-model="job.start_date" data-max-date="{{job.end_date}}" bs-datepicker="bs-datepicker" ng-required="true" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">End Date</label>
  <input type="text" ng-model="job.end_date" data-min-date="{{job.start_date}}" bs-datepicker="bs-datepicker" ng-required="true" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">State</label>
  <select ng-model="job.state" ng-options="state.value as state.label for state in states" ng-required="true" class="form-control"></select>
</div>
<div class="form-group">
  <label class="control-label">Suburb</label>
  <input type="text" ng-model="job.suburb" ng-required="true" class="form-control"/>
</div>