.container
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading Job 
				.panel-body
					form( method="post" ng-submit="updateJob()" )
						div( ng-include="'/partials/admin/job/form.html'")
						button.btn.btn-lg.btn-success.btn-block Update Job
						{{ job | json }}
