#top {
  background-color: #1582dc;
  color:#fff;
  margin-top: -20px;
padding-top: 200px;
text-align: center;
margin-bottom:20px;
}

.panel h3 {
  margin-top:0px;
}

.call-to-action {
	padding-top:10px;
}