.container
  .row
    .col-sm-4
      .panel.panel-default
        .panel-heading Profile
        .panel-body
          legend Edit My Profile
          form( method="post" ng-submit="updateProfile()" )
            .form-group
              label.control-label Display Name
              input( type="text" class="form-control" ng-model="user.displayName" )
            .form-group
              label.control-label Email Address
              input( type="email" class="form-control" ng-model="user.email" )
            button.btn.btn-lg.btn-success Update Information

    .col-sm-4
      .panel.panel-default
        .panel-heading Accounts
        .panel-body
          legend Linked Accounts
          button.btn.btn-sm.btn-danger( ng-if="!user.linkedin" ng-click="link('linkedin')" ) Link LinkedIn Account
          button.btn.btn-sm.btn-danger( ng-if="user.linkedin" ng-click="unlink('linkedin')" ) Unlink LinkedIn Account