
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
          <legend>Edit My Profile</legend>
          <form method="post" ng-submit="updateProfile()">
            <div class="form-group">
              <label class="control-label">Display Name</label>
              <input type="text" ng-model="user.displayName" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">Email Address</label>
              <input type="email" ng-model="user.email" class="form-control"/>
            </div>
            <button class="btn btn-lg btn-success">Update Information</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
          <legend>Linked Accounts</legend>
          <button ng-if="!user.linkedin" ng-click="link('linkedin')" class="btn btn-sm btn-danger">Link LinkedIn Account</button>
          <button ng-if="user.linkedin" ng-click="unlink('linkedin')" class="btn btn-sm btn-danger">Unlink LinkedIn Account</button>
        </div>
      </div>
    </div>
  </div>
</div>