
<div id="signup" class="view">
  <div class="container">
    <div class="row">
      <div class="center-form">
        <div class="panel-body">
          <h2 class="text-center">Sign up</h2>
          <form method="post" ng-submit="vm.signup()" name="signupForm">
            <div ng-class="{ 'has-error' : signupForm.fullName.$invalid &amp;&amp; signupForm.fullName.$dirty }" class="form-group has-feedback">
              <input type="text" name="displayName" ng-model="vm.displayName" placeholder="Name" required="required" autofocus="autofocus" class="form-control input-lg"/><span class="ion-person form-control-feedback"></span>
              <div ng-if="signupForm.fullName.$dirty" ng-messages="signupForm.fullName.$error" class="help-block text-danger">
                <div ng-message="required">You must enter your name.</div>
              </div>
            </div>
            <div ng-class="{ 'has-error' : signupForm.email.$invalid &amp;&amp; signupForm.email.$dirty }" class="form-group has-feedback">
              <input type="email" id="email" name="email" ng-model="vm.email" placeholder="Email" required="required" class="form-control input-lg"/><span class="ion-at form-control-feedback"></span>
              <div ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error" class="help-block text-danger">
                <div ng-message="required">Your email address is required.</div>
                <div ng-message="pattern">Your email address is invalid.</div>
              </div>
            </div>
            <div ng-class="{ 'has-error' : signupForm.password.$invalid &amp;&amp; signupForm.password.$dirty }" class="form-group has-feedback">
              <input password-strength="password-strength" type="password" name="password" ng-model="vm.password" placeholder="Password" required="required" class="form-control input-lg"/><span class="ion-key form-control-feedback"></span>
              <div ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error" class="help-block text-danger">
                <div ng-message="required">Password is required.</div>
              </div>
            </div>
            <p class="text-center text-muted"> <small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>
            <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Sign up</button><br/>
            <p class="small text-center text-muted">Already have an account? <a href="/#/login">Log in now</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>