#home.view
	.content
		#large-header.large-header
			canvas#demo-canvas
			#intro-text
				h1.main-title Compassionate <br/><span class="thin">Community</span>
				br
				a.btn.btn-primary.btn-xlg(href="#/search") Explore
	
	//- .clearfix
	//- 	h1 Animated Background Headers <span>Examples for creative website header animations using Canvas and JavaScript</span>
