#search
	a.view-close.ion-ios7-close-outline(ng-click="vm.back()")
	.container
		.row.padd-lg
			.col-sm-10
				input(type="text" placeholder="Find your passion here...").bigsearch
			.col-sm-2
				button.ion-ios7-search.bigfind

		.row
			.col-sm-4
				h4 Jobs

			.col-sm-4
				h4 Events

			.col-sm-4
				h4 Campaigns