<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Add a job</div>
        <div class="panel-body">
          <form method="post" ng-submit="addJob()">
            <div ng-include="'/partials/job/editform.html'"></div>
            <button class="btn btn-lg btn-success btn-block">Add New Job</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 job" ng-repeat="job in jobs">
            <div class="panel panel-default" >
            <div class="panel-body">
              <h3 class="pull-left">{{job.heading }}</h3>
              <a class="btn btn-danger pull-right" ng-click="deleteJob($index, job.id)">Delete</a>
              <a class="btn btn-success pull-right" href="/#/job/{{ job.id }}">Edit</a>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>