

<section id="top" >

        <div class="hero-parallax parallax" style="background-image: url(file://localhost/Users/paulday/Downloads/themeforest-8641124-sublime-web-application-admin-dashboard/Frontend/img/cover1.jpg); background-position: 50% -1px;"></div>

        <div class="overlay overlay-colored-9"></div>

        <div class="container" style="height: 348px;">
            <div class="hero-container" style="transform: translateY(2px);">
                <h1 class="hero-title animated fadeInLeft done" data-animation="fadeInLeft">Job search <span style='color: #C1DCFF;'>For people who care</span></h1>
                <div class="hero-sub-title animated fadeInRight done" data-animation="fadeInRight">
                    <em>Find a job that suites your values today</em>
                </div>
                <div class="call-to-action heading-font">
                    <a href="#how" class="btn btn-white btn-lg btn-outline smooth-scroll">Learn More</a>
                    <a href="http://vimeo.com/61741062" class="btn btn-white btn-lg popup-video">
                        <i class="fa fa-play mr10"></i>
                        <span>Watch the video</span>
                    </a>
                </div>
            </div>
        </div>

    </section>




    <div class="container">


{{data  | json}}

  <div class="row">
  <div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-body">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
    </div>
  </div>
</div>
</div>
</div>