
<section id="top">
  <div class="hero-parallax parallax">
    <div class="overlay overlay-colored-9">
      <div class="container">
        <div class="hero-container">
          <h1 data-animation="fadeInLeft" class="hero-title animated fadeInLeft done">Job search <span style='color: #94CEFD'>For people who care</span></h1>
          <div data-animation="fadeInRight" class="hero-sub-title animated fadeInRight done"><em>Find a job that suites your values today</em>
            <form id="searchForm" role="form" ng-submit="search()" novalidate="novalidate" class="form-inline">
              <div class="form-group dropdown">
                <button type="button" placeholder="Select a few categories" ng-model="selectedCategories" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="category.value as category.label for category in categories" bs-select="bs-select" class="btn btn-default"></button>
              </div>
              <div class="form-group dropdown">
                <button type="button" placeholder="Select locations" ng-model="selectedLocations" data-html="1" data-multiple="1" data-animation="am-flip-x" ng-options="location.value as location.label for location in locations" bs-select="bs-select" class="btn btn-default"></button>
              </div>
              <button type="submit" class="btn btn-default">Find Jobs</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="home" class="container">
  <div class="row">
    <div ng-repeat="job in jobs" class="col-sm-3">
      <div ng-include="'/partials/job/preview.html'"></div>
    </div>
  </div>
</div>