    <section id="top" >
        <div class="hero-parallax parallax" style="background-image: url(file://localhost/Users/paulday/Downloads/themeforest-8641124-sublime-web-application-admin-dashboard/Frontend/img/cover1.jpg); background-position: 50% -1px;"></div>
        <div class="overlay overlay-colored-9"></div>
        <div class="container" style="height: 348px;">
            <div class="hero-container" style="transform: translateY(2px);">
                <h1 class="hero-title animated fadeInLeft done" data-animation="fadeInLeft">Job search <span style='color: #C1DCFF;'>For people who care</span></h1>
                <div class="hero-sub-title animated fadeInRight done" data-animation="fadeInRight">
                    <em>Find a job that suites your values today</em>
                </div>
                <div class="call-to-action heading-font">
                    <form class="form-inline" role="form" ng-submit="search()" novalidate>
                      <div class="form-group">
                        <input ng-model="keyword" type="email" class="form-control"   placeholder="Type a keyword">
                      </div>
                      <div class="form-group">
                        <select class="form-control">
                        <option>All Categories</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        </select>
                      </div>
                      <button type="submit"  class="btn btn-default">Find Jobs</button>
                    </form>
                </div>
            </div>
        </div>
    </section>




<div class="container">
  <div class="row">
    <div class="col-sm-3" ng-repeat="job in jobs">
      <div class="panel panel-default">
        <div class="panel-body">
              <h3>{{job.title | noHTML }}</h3>
              <p>{{job.category.label | noHTML }}</p>
              <p>{{job.company.display_name | noHTML }}</p>
              <p>{{job.salary_is_predicted | noHTML }}</p>
              <p>{{job.location.display_name | noHTML }}</p>
              <p>{{job.salary_is_predicted | noHTML }}</p>
              <p>{{job.redirect_url | noHTML }}</p>
              <p>{{job.description | noHTML }}</p>
              <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>
  </div>
</div>