
<div class="navbar-header"><a href="/" class="navbar-brand">Compassionate Careers</a></div>
<ul class="nav navbar-nav pull-right"></ul>
<ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
  <li><a href="/#/login">Login</a></li>
  <li><a href="/#/signup">Sign up</a></li>
</ul>
<ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
  <li ng-if="isAuthenticated()"><a href="/#/admin/jobs">Add a job</a></li>
  <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
  <li><a href="/#/logout">Logout</a></li>
</ul>