
<div id="nav">
  <div id="nav-toggle" ng-click="toggleNav()" ng-class="{ 'ion-ios7-close-outline': nav, 'ion-navicon' : !nav}"></div>
  <ul id="nav-menu" ng-show="nav">
    <li> <a href="" ng-click="goTo('home')">Home </a></li>
    <li><a href="" ng-click="goTo('search')">Search</a></li>
    <li ng-if="isAuthenticated()"><a href="" ng-click="goTo('admin')">Admin</a></li>
    <li ng-if="!isAuthenticated()"><a href="" ng-click="goTo('login')">Login</a></li>
    <li ng-if="!isAuthenticated()"><a href="" ng-click="goTo('signup')">Signup</a></li>
    <li ng-if="isAuthenticated()"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
</div>