#login.view
  .container
    .row
      .center-form
        .panel-body
          h2.text-center Log in
          form( method="post" ng-submit="vm.login()" name="loginForm" )
            .form-group.has-feedback
              input.form-control.input-lg( type="text" name="email" ng-model="vm.email" placeholder="Email" required autofocus )
              span.ion-at.form-control-feedback

            .form-group.has-feedback
              input.form-control.input-lg( type="password" name="password" ng-model="vm.password" placeholder="Password" required )
              span.ion-key.form-control-feedback

            button.btn.btn-lg.btn-block.btn-primary( type="submit" ng-disabled="loginForm.$invalid" ) Log in

          p.text-center
            a( href="#" ) Forgot your password?
            p.text-center.text-muted
              small Don't have an account yet? <a href="/#/signup">Sign up</a>