.form-group
  label.control-label Heading
  input.form-control(type="text" ng-model="job.heading")

.form-group
  label.control-label Description
  input.form-control(type="text" ng-model="job.description")

.form-group
  label.control-label Salary Max
  input.form-control(type="text" ng-model="job.salary_max")

.form-group
  label.control-label Salary Min
  input.form-control(type="text" ng-model="job.salary_min")

.form-group
  label.control-label Start Date
  input.form-control(type="text" ng-model="job.start_date")

.form-group
  label.control-label End Date
  input.form-control(type="text" ng-model="job.end_date")

.form-group
  label.control-label Location
  input.form-control(type="text" ng-model="job.description")