
<div class="form-group">
  <label class="control-label">Heading</label>
  <input type="text" ng-model="job.heading" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Description</label>
  <input type="text" ng-model="job.description" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Salary Max</label>
  <input type="text" ng-model="job.salary_max" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Salary Min</label>
  <input type="text" ng-model="job.salary_min" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Start Date</label>
  <input type="text" ng-model="job.start_date" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">End Date</label>
  <input type="text" ng-model="job.end_date" class="form-control"/>
</div>
<div class="form-group">
  <label class="control-label">Location</label>
  <input type="text" ng-model="job.description" class="form-control"/>
</div>