
<div id="cards" class="container">
  <div class="row">
    <div ng-repeat="job in vm.jobs" class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{job.heading}}</h4><span>{{job.category }}</span><span>{{job.end_date }}</span>
          <p>{{ job.description }}</p>
        </div><i ng-click="vm.favorite(job)" class="icon ion-heart favorite"></i><a href="{{job.id }}" class="btn btn-primary btn-block">View details »</a>
      </div>
    </div>
  </div>
</div>