.panel.panel-default
  .panel-body
    h4 {{job.heading}}
    span {{job.category }}
    span {{job.end_date }}
    p {{ job.description }}
  a.btn.btn-primary.btn-block(href="{{job.id }}") View details »