.panel.panel-default
	.panel-body
		h4 {{job.job.heading}}
		span {{job.job.category }}
		span {{job.job.end_date }}
		p {{ job.job.description }}
	i.icon.ion-heart.favorite( ng-click="favorite(job.job)" )
	a.btn.btn-primary.btn-block(href="{{job.job.id }}") View details »